{% extends "base.html" %}
{% block title %}User Profile | Munchies{% endblock %}

{% block content %}


    <!-- User Profile Section -->
    <div class="profile-container">
        <div class="profile-picture">
            {% if user.profile_picture %}
                <img src="{{ url_for('static',filename = 'profile_pics/' + user.profile_picture) }}" alt="{{ user.username }}'s profile pic">
            {% else %}
                <img src="{{ url_for('static',filename = 'img/default_profile_pic.png') }}" alt="default profile pic">
            {% endif %}
        </div>
        <div class="profile-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if user.bio %}
                <p align="center">{{ user.bio }}</p>
            {% endif %}
        </div>
        <div class="actions">
            <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
            <a href="{{ url_for('change_password') }}">Change Password</a>
        </div>
    </div>
    <div class="timeline-container">
        {% if posts %}

            {% for post in posts %}
                <div class="post-card">
                    <h2 class="post-title">
                        {{ post.caption }}
                    </h2>

                    <img src="{{ url_for('static',filename = 'uploads/' + post.image_path) }}" alt="post image" class="post-image">
                    <p class="post-description">{{ post.description }}</p>
                    <div class="post-details">
                        <p class="post-rating">{{ post.rating | star }}</p>
                        <p class="post-time">{{ post.time_posted | format_time }}</p>
                    </div>  
                    <form action="{{ url_for('delete_post',post_id = post.id) }}" method="POST">
                        <button type="submit" class="create-post-button">Delete</button>
                    </form>
                </div>

            {% endfor %}
        {% else %}
            <p class="body">Looking a lil empty here huh?<a href="{{ url_for('create_post') }}">Create First Post</a></p>
        {% endif %}
    </div>
{% endblock %}